{% extends "index.html" %}

{% block title %}Empleado {{user.get_full_name}} -{% endblock %}

{% block container %}
<div class="container my-5">
    <div class="row mb-5">
        <h1>Información del empleado</h1>
        <div class="card col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto my-5 border-2 border-success text-center">
            <img class="card-img-top" src="{{user.photo.url}}" alt="photo_user">
        </div>
        <div class="card col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto my-5 border-2 border-success text-center">
            <div class="card-body">
                <div class="card-title">
                    <h3>{{user.get_full_name}}</h3>
                </div>
                <div class="card-text">
                    <ul class="list-unstyled">
                        <li>Nombre contacto emergencia</li>
                        <li>Telefono contacto emergencia</li>
                        <li>Tipo de Sangre: <b>{{user.type_blood}}</b></li>
                    </ul>
                </div>
            </div>
            <div class="card-footer bg-body border-top-0">
                <a class="btn btn-success" href="{% url 'user-update' user.pk %}">Editar datos</a>
                <a class="btn btn-primary" href="{% url 'user-card' user.pk %}" target="_blank">Ver QR</a>
            </div>
        </div>
        <div class="card col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto my-5 border-2 border-success text-center">
            <img class="card-img-bottom" src="{{user.qr_code.url}}" alt="qr_code">
        </div>
    </div>
</div>
{% endblock %}

