{% extends 'index.html' %}

{% block container %}
<div class="container my-5">
    <div class="row my-5">
        <h1>Actualizar</h1>
        <div class="card col-xs-12 col-sm-9 col-md-6 col-lg-4">
            <div class="card-body">
                <form action="">
                    {{form.as_p}}
                    <button type="submit" class="btn btn-success">Actualizar</button>
                    <a type="submit" class="btn btn-danger" href="{% url 'user-detail' user.pk %}">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}